body {
    background: rgb(67,139,213);
background: radial-gradient(circle, rgba(67,139,213,0.9598214285714286) 15%, rgba(150,202,255,0.9598214285714286) 23%, rgb(106, 62, 140) 97%);
font-family: 'Oxygen';
scroll-behavior: smooth;
}


//HEADER


.header {
    padding : 0.5rem;
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 30%;
    backdrop-filter: blur(1.5px);
    font-size: 0.7rem;
    text-align: left;
font-family: 'Mukta';
}

// NAVBAR  
.link {
    text-decoration: none;
    color: inherit;
    
} 
.nav {
    font-size: 1rem;
    color: rgb(233, 228, 228);
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(1.5px);
    width: 100%;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 2rem;

        
:hover{
    
    color: rgb(41, 42, 44);
    opacity: 1;
    text-shadow:        0 0 7px rgb(236, 230, 250),        0 0 10px rgb(181, 170, 201),        0 0 42px rgb(234, 181, 208),        0 0 77px rgb(230, 18, 124),        0 0 100px rgb(155, 79, 117);

    animation: lumiere 1s infinite linear;
    -webkit-animation: lumiere 1s infinite linear;
}
@keyframes lumiere {
    0%{
        text-shadow:
        0 0 7px rgb(113, 65, 123),
        0 0 10px rgb(112, 60, 149),
        0 0 42px rgb(156, 116, 217),
        0 0 77px rgb(117, 16, 172),
        0 0 100px rgb(105, 40, 217);
    }
   50%{
        text-shadow:
        0 0 7px rgb(91, 86, 241),
        0 0 10px rgb(48, 167, 222),
        0 0 32px rgb(18, 46, 230),
        0 0 87px rgb(70, 59, 219),
        0 0 120px rgb(114, 17, 167);
    }
}
}
.projetsArtButton {
    position: absolute;
    top: 115%;
    font-size: 0.9rem;
}


// HOMEPAGE

.sceneBas {
    height :100vh;
    opacity: 0.7;
    position: relative;

}
.sceneHaut {
    height:40%;
    opacity : 0.6;
    position: relative;
}

.effetNeon {
    color: #fff;
    opacity: 0.6;
    text-shadow:        0 0 7px rgb(236, 230, 250),        0 0 10px rgb(181, 170, 201),        0 0 42px rgb(234, 181, 208),        0 0 77px rgb(230, 18, 124),        0 0 100px rgb(155, 79, 117);
    animation: lumiere 35s infinite linear;
    -webkit-animation: lumiere 35s infinite linear;
}

@keyframes lumiere {
    0%{
        text-shadow:
        0 0 7px rgb(113, 65, 123),
        0 0 10px rgb(112, 60, 149),
        0 0 42px rgb(156, 116, 217),
        0 0 77px rgb(117, 16, 172),
        0 0 100px rgb(105, 40, 217);
    }
   50%{
        text-shadow:
        0 0 7px rgb(91, 86, 241),
        0 0 10px rgb(48, 167, 222),
        0 0 32px rgb(18, 46, 230),
        0 0 87px rgb(70, 59, 219),
        0 0 120px rgb(114, 17, 167);
    } 
}
// PROJETS
.projectCard {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Mukta';
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius:0.2rem;
    width: 50%;
    margin-top:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:0.2rem;
    -ms-border-radius:0.2rem;
    -o-border-radius:0.2rem;
    backdrop-filter: blur(5000px);
    background-image: radial-gradient(circle, rgba(67,139,213,0.3) 15%, rgba(150,202,255,0.5) 23%, rgb(106, 62, 140, 0.5) 97%);
}
.project {
    padding-top: 20vh;
height: 80vh;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  width: 100%;
 animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1; 
  @keyframes slide {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}

// ABOUT/INFO
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height:100vh;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: 1; 
    @keyframes slide {
      from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
    position: relative;

}
.infoCard{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.6;
    width: 50%;
    min-height:60vh;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
    backdrop-filter: sepia(90%);
    background-image: radial-gradient(circle, rgba(67,139,213,0.3) 15%, rgba(150,202,255,0.5) 23%, rgb(106, 62, 140, 0.5) 97%);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}



    